openapi: 3.0.0
info:
  title: Firefly III API v1.5.4
  description: |
    This is the documentation of the Firefly III API. You can find accompanying documentation on the website of Firefly III itself (see below). Please report any bugs or issues. You may use the "Authorize" button to try the API below. This file was last generated on 2021-09-25T14:21:28+00:00
  contact:
    name: James Cole
    url: https://firefly-iii.org
    email: james@firefly-iii.org
  license:
    name: AGPLv3
    url: https://www.gnu.org/licenses/agpl-3.0.en.html
  version: 1.5.4
servers:
- url: https://demo.firefly-iii.org
  description: Firefly III demo site
security:
- firefly_iii_auth: []
tags:
- name: about
  description: "These endpoints deliver general system information, version- and meta\
    \ information."
- name: configuration
  description: These endpoints allow you to manage and update the Firefly III configuration.
    You need to have the &quot;owner&quot; role to update configuration.
- name: users
  description: Use these endpoints to manage the users registered within Firefly III.
    You need to have the &quot;owner&quot; role to access these endpoints.
- name: autocomplete
  description: "Auto-complete endpoints show basic information about Firefly III models,\
    \ like the name and maybe some amounts. They all support a search query and can\
    \ be used to autocomplete data in forms. Autocomplete return values always have\
    \ a &quot;name&quot;-field."
- name: charts
  description: The &quot;charts&quot; endpoints deliver optimised data for charts
    and graphs.
- name: data
  description: The &quot;data&quot;-endpoints manage generic Firefly III and user-specific
    data.
- name: insight
  description: "The &quot;insight&quot; endpoints try to deliver sums, balances and\
    \ insightful information in the broadest sense of the word."
- name: summary
  description: "These endpoints deliver summaries, like sums, lists of numbers and\
    \ other processed information. Mainly used for the main dashboard and pretty specific\
    \ for Firefly III itself."
- name: search
  description: "Endpoints that allow you to search through the user&#039;s financial\
    \ data. Different from the autocomplete endpoints, the search accepts more advanced\
    \ arguments."
- name: preferences
  description: "These endpoints can be used to manage the user&#039;s preferences,\
    \ including some hidden ones."
- name: webhooks
  description: These endpoints can be used to manage the user&#039;s webhooks and
    triggers them if necessary.
- name: accounts
  description: "Endpoints that deliver all of the user&#039;s asset, expense and other\
    \ accounts (and the metadata) together with related transactions, piggy banks\
    \ and other objects. Also delivers endpoints for CRUD operations for accounts."
- name: attachments
  description: "Endpoints to manage the attachments of the authenticated user, including\
    \ up- and downloading of the files."
- name: available_budgets
  description: Endpoints to manage the total available amount that the user has made
    available to themselves. Used in periodic budgeting.
- name: bills
  description: Endpoints to manage a user&#039;s bills and all related objects.
- name: budgets
  description: "Endpoints to manage a user&#039;s budgets and get info on the related\
    \ objects, like limits."
- name: categories
  description: Endpoints to manage a user&#039;s categories and get information on
    transactions and other related objects.
- name: object_groups
  description: Endpoints to control and manage all of the user&#039;s object groups.
    Can only be created in conjunction with another object (for example a piggy bank)
    and will auto-delete when no other items are linked to it.
- name: piggy_banks
  description: Endpoints to control and manage all of the user&#039;s piggy banks
    and related objects and information.
- name: recurrences
  description: "Use these endpoints to manage the user&#039;s recurring transactions,\
    \ trigger the creation of transactions and manage the settings."
- name: rules
  description: These endpoints can be used to manage all of the user&#039;s rules.
    Also includes triggers to execute or test rules and individual triggers.
- name: rule_groups
  description: Manage all of the user&#039;s groups of rules and trigger the execution
    of entire groups.
- name: tags
  description: This endpoint manages all of the user&#039;s tags.
- name: transactions
  description: "The most-used endpoints in Firefly III, these endpoints are used to\
    \ manage the user&#039;s transactions."
- name: currencies
  description: "Endpoints to manage the currencies in Firefly III. Depending on the\
    \ user&#039;s role you can also disable and enable them, or add new ones."
- name: links
  description: "Endpoints to manage links between transactions, and manage the type\
    \ of links available."
paths:
  /api/v1/autocomplete/rule-groups:
    get:
      tags:
      - autocomplete
      summary: Returns all rule groups of the user returned in a basic auto-complete
        array.
      operationId: getRuleGroupsAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of rule groups with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleGroupArray'
  /api/v1/autocomplete/categories:
    get:
      tags:
      - autocomplete
      summary: Returns all categories of the user returned in a basic auto-complete
        array.
      operationId: getCategoriesAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of categories with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCategoryArray'
  /api/v1/autocomplete/transaction-types:
    get:
      tags:
      - autocomplete
      summary: Returns all transaction types returned in a basic auto-complete array.
        English only.
      operationId: getTransactionTypesAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of transaction types with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionTypeArray'
  /api/v1/autocomplete/object-groups:
    get:
      tags:
      - autocomplete
      summary: Returns all object groups of the user returned in a basic auto-complete
        array.
      operationId: getObjectGroupsAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of object groups with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteObjectGroupArray'
  /api/v1/autocomplete/rules:
    get:
      tags:
      - autocomplete
      summary: Returns all rules of the user returned in a basic auto-complete array.
      operationId: getRulesAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of rules with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRuleArray'
  /api/v1/autocomplete/transactions:
    get:
      tags:
      - autocomplete
      summary: Returns all transaction descriptions of the user returned in a basic
        auto-complete array.
      operationId: getTransactionsAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of transaction descriptions with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionArray'
  /api/v1/autocomplete/transactions-with-id:
    get:
      tags:
      - autocomplete
      summary: "Returns all transactions, complemented with their ID, of the user\
        \ returned in a basic auto-complete array. This endpoint is DEPRECATED and\
        \ I suggest you DO NOT use it."
      operationId: getTransactionsIDAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of transactions with very basic information. This endpoint
            is DEPRECATED and I suggest you DO NOT use it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTransactionIDArray'
  /api/v1/autocomplete/budgets:
    get:
      tags:
      - autocomplete
      summary: Returns all budgets of the user returned in a basic auto-complete array.
      operationId: getBudgetsAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of budgets with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBudgetArray'
  /api/v1/autocomplete/piggy-banks:
    get:
      tags:
      - autocomplete
      summary: Returns all piggy banks of the user returned in a basic auto-complete
        array.
      operationId: getPiggiesAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of piggy banks with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyArray'
  /api/v1/autocomplete/piggy-banks-with-balance:
    get:
      tags:
      - autocomplete
      summary: Returns all piggy banks of the user returned in a basic auto-complete
        array complemented with balance information.
      operationId: getPiggiesBalanceAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of piggy banks with very basic balance information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompletePiggyBalanceArray'
  /api/v1/autocomplete/currencies:
    get:
      tags:
      - autocomplete
      summary: Returns all currencies of the user returned in a basic auto-complete
        array.
      operationId: getCurrenciesAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of currencies with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyArray'
  /api/v1/autocomplete/currencies-with-code:
    get:
      tags:
      - autocomplete
      summary: Returns all currencies of the user returned in a basic auto-complete
        array. This endpoint is DEPRECATED and I suggest you DO NOT use it.
      operationId: getCurrenciesCodeAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of currencies with very basic information and the currency
            code between brackets. This endpoint is DEPRECATED and I suggest you DO
            NOT use it.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteCurrencyCodeArray'
  /api/v1/autocomplete/accounts:
    get:
      tags:
      - autocomplete
      summary: Returns all accounts of the user returned in a basic auto-complete
        array.
      operationId: getAccountsAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query for accounts.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: query-string
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      - name: date
        in: query
        description: "If the account is an asset account or a liability, the autocomplete\
          \ will also return the balance of the account on this date."
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: 2020-09-17
      - name: type
        in: query
        description: Optional filter on the account type(s) used in the autocomplete.
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/AccountTypeFilter'
      responses:
        "200":
          description: A list of accounts with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteAccountArray'
  /api/v1/autocomplete/tags:
    get:
      tags:
      - autocomplete
      summary: Returns all tags of the user returned in a basic auto-complete array.
      operationId: getTagAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of tags with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteTagArray'
  /api/v1/autocomplete/bills:
    get:
      tags:
      - autocomplete
      summary: Returns all bills of the user returned in a basic auto-complete array.
      operationId: getBillsAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query for bills.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: query-string
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of bills with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteBillArray'
  /api/v1/autocomplete/recurring:
    get:
      tags:
      - autocomplete
      summary: Returns all recurring transactions of the user returned in a basic
        auto-complete array.
      operationId: getRecurringAC
      parameters:
      - name: query
        in: query
        description: The autocomplete search query.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
        example: str
      - name: limit
        in: query
        description: The number of items returned.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          format: int32
        example: 10
      responses:
        "200":
          description: A list of recurring transactions with very basic information.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AutocompleteRecurrenceArray'
  /api/v1/chart/account/overview:
    get:
      tags:
      - charts
      summary: Dashboard chart with asset account balance information.
      description: |
        This endpoint returns the data required to generate a chart with basic asset account balance information.
      operationId: getChartAccountOverview
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      responses:
        "200":
          description: Line chart oriented chart information. Check out the model
            for more details. Each entry is a line (or bar) in the chart.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChartLine'
  /api/v1/data/export/accounts:
    get:
      tags:
      - data
      summary: Export account data from Firefly III
      description: |
        This endpoint allows you to export your accounts from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportAccounts
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/bills:
    get:
      tags:
      - data
      summary: Export bills from Firefly III
      description: |
        This endpoint allows you to export your bills from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBills
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/budgets:
    get:
      tags:
      - data
      summary: Export budgets and budget amount data from Firefly III
      description: |
        This endpoint allows you to export your budgets and associated budget data from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportBudgets
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/categories:
    get:
      tags:
      - data
      summary: Export category data from Firefly III
      description: |
        This endpoint allows you to export your categories from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportCategories
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/piggy-banks:
    get:
      tags:
      - data
      summary: Export piggy banks from Firefly III
      description: |
        This endpoint allows you to export your piggy banks from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportPiggies
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/recurring:
    get:
      tags:
      - data
      summary: Export recurring transaction data from Firefly III
      description: |
        This endpoint allows you to export your recurring transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRecurring
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/rules:
    get:
      tags:
      - data
      summary: Export rule groups and rule data from Firefly III
      description: |
        This endpoint allows you to export your rules and rule groups from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportRules
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/tags:
    get:
      tags:
      - data
      summary: Export tag data from Firefly III
      description: |
        This endpoint allows you to export your tags from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTags
      parameters:
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/export/transactions:
    get:
      tags:
      - data
      summary: Export transaction data from Firefly III
      description: |
        This endpoint allows you to export transactions from Firefly III into a file. Currently supports CSV exports only.
      operationId: exportTransactions
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: accounts
        in: query
        description: |
          Limit the export of transactions to these accounts only. Only asset accounts will be accepted. Other types will be silently dropped.
        required: false
        style: form
        explode: false
        schema:
          type: string
          format: string
        example: "1,2,3"
      - name: type
        in: query
        description: The file type the export file (CSV is currently the only option).
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/ExportFileFilter'
      responses:
        "200":
          description: The exported transaction in a file.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
  /api/v1/data/destroy:
    delete:
      tags:
      - data
      summary: Endpoint to destroy user data
      description: |
        A call to this endpoint permanently destroys the requested data type. Use it with care and always with user permission.
        The demo user is incapable of using this endpoint.
      operationId: destroyData
      parameters:
      - name: objects
        in: query
        description: The type of data that you wish to destroy. You can only use one
          at a time.
        required: true
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/DataDestroyObject'
      responses:
        "204":
          description: Empty response when data has been destroyed.
        "500":
          description: "Internal error, or user is unauthorized to destroy data."
  /api/v1/data/bulk/transactions:
    post:
      tags:
      - data
      summary: "Bulk update transaction properties. For more information, see https://docs.firefly-iii.org/firefly-iii/api/specials"
      description: |
        Allows you to update transactions in bulk.
      operationId: bulkUpdateTransactions
      parameters:
      - name: query
        in: query
        description: The JSON query.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: json
      responses:
        "204":
          description: Empty response when the update was successful. A future improvement
            is to include the changed transactions.
        "500":
          description: Internal error.
  /api/v1/insight/expense/bill:
    get:
      tags:
      - insight
      summary: "Insight into expenses, grouped by bill."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ grouped by (any) bill.\n"
      operationId: insightExpenseBill
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "bills[]"
        in: query
        description: |
          The bills to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of budget and expense details. Each budget has one row
            per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-bill:
    get:
      tags:
      - insight
      summary: "Insight into expenses, without bill."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ including only expenses with no bill.\n"
      operationId: insightExpenseNoBill
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of expense details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/total:
    get:
      tags:
      - insight
      summary: Insight into total expenses.
      description: |
        This endpoint gives a sum of the total expenses made by the user.
      operationId: insightExpenseTotal
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of sums in different currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/income/total:
    get:
      tags:
      - insight
      summary: Insight into total income.
      description: |
        This endpoint gives a sum of the total income received by the user.
      operationId: insightIncomeTotal
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only deposits to those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of sums in different currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/transfer/total:
    get:
      tags:
      - insight
      summary: Insight into total transfers.
      description: |
        This endpoint gives a sum of the total amount transfers made by the user.
      operationId: insightTransferTotal
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only transfers between those\nasset\
          \ accounts / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of sums in different currencies.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/category:
    get:
      tags:
      - insight
      summary: "Insight into expenses, grouped by category."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ grouped by (any) category.\n"
      operationId: insightExpenseCategory
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "categories[]"
        in: query
        description: |
          The categories to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of category and expense details. Each category has one
            row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-category:
    get:
      tags:
      - insight
      summary: "Insight into expenses, without category."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ including only expenses with no category.\n"
      operationId: insightExpenseNoCategory
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of expense details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/income/category:
    get:
      tags:
      - insight
      summary: "Insight into income, grouped by category."
      description: "This endpoint gives a summary of the income received by the user,\
        \ grouped by (any) category.\n"
      operationId: insightIncomeCategory
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "categories[]"
        in: query
        description: |
          The categories to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only deposits to those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of category and income details. Each category has one
            row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/no-category:
    get:
      tags:
      - insight
      summary: "Insight into income, without category."
      description: "This endpoint gives a summary of the income received by the user,\
        \ including only income with no category.\n"
      operationId: insightIncomeNoCategory
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only deposits to those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of income details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/transfer/category:
    get:
      tags:
      - insight
      summary: "Insight into transfers, grouped by category."
      description: "This endpoint gives a summary of the transfers made by the user,\
        \ grouped by (any) category.\n"
      operationId: insightTransferCategory
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "categories[]"
        in: query
        description: |
          The categories to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only transfers between those\nasset\
          \ accounts / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of category and transfer details. Each category has
            one row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/transfer/no-category:
    get:
      tags:
      - insight
      summary: "Insight into transfers, without category."
      description: "This endpoint gives a summary of the transfers made by the user,\
        \ including only transfers with no category.\n"
      operationId: insightTransferNoCategory
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only transfers between those\nasset\
          \ accounts / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of transfer details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/expense:
    get:
      tags:
      - insight
      summary: "Insight into expenses, grouped by expense account."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ grouped by expense account.\n"
      operationId: insightExpenseExpense
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you add the accounts\
          \ ID's of expense accounts, only those accounts\nare included in the results.\
          \ If you include ID's of asset accounts or liabilities, only withdrawals\
          \ from those\nasset accounts / liabilities will be included. You can combine\
          \ both asset / liability and expense account ID's.\nOther account ID's will\
          \ be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of expense accounts and expense details. Each expense
            acccount has one row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/asset:
    get:
      tags:
      - insight
      summary: "Insight into expenses, grouped by asset account."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ grouped by asset account.\n"
      operationId: insightExpenseAsset
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of asset accounts and expense details. Each asset account
            has one row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/revenue:
    get:
      tags:
      - insight
      summary: "Insight into income, grouped by revenue account."
      description: "This endpoint gives a summary of the income received by the user,\
        \ grouped by revenue account.\n"
      operationId: insightIncomeRevenue
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you add the accounts\
          \ ID's of revenue accounts, only those accounts\nare included in the results.\
          \ If you include ID's of asset accounts or liabilities, only deposits to\
          \ those\nasset accounts / liabilities will be included. You can combine\
          \ both asset / liability and deposit account ID's.\nOther account ID's will\
          \ be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of revenue accounts and income details. Each revenue
            acccount has one row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/asset:
    get:
      tags:
      - insight
      summary: "Insight into income, grouped by asset account."
      description: "This endpoint gives a summary of the income received by the user,\
        \ grouped by asset account.\n"
      operationId: insightIncomeAsset
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only deposits to those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of asset accounts and income details. Each asset account
            has one row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/transfer/asset:
    get:
      tags:
      - insight
      summary: "Insight into transfers, grouped by account."
      description: "This endpoint gives a summary of the transfers made by the user,\
        \ grouped by asset account or lability.\n"
      operationId: insightTransfers
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only transfers between those\nasset\
          \ accounts / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of asset accounts and transfer details. Each asset account
            has one row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTransfer'
  /api/v1/insight/expense/budget:
    get:
      tags:
      - insight
      summary: "Insight into expenses, grouped by budget."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ grouped by (any) budget.\n"
      operationId: insightExpenseBudget
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "budgets[]"
        in: query
        description: |
          The budgets to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of budget and expense details. Each budget has one row
            per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-budget:
    get:
      tags:
      - insight
      summary: "Insight into expenses, without budget."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ including only expenses with no budget.\n"
      operationId: insightExpenseNoBudget
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of expense details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/expense/tag:
    get:
      tags:
      - insight
      summary: "Insight into expenses, grouped by tag."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ grouped by (any) tag.\n"
      operationId: insightExpenseTag
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "tags[]"
        in: query
        description: |
          The tags to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of tag and expense details. Each tag has one row per
            currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/expense/no-tag:
    get:
      tags:
      - insight
      summary: "Insight into expenses, without tag."
      description: "This endpoint gives a summary of the expenses made by the user,\
        \ including only expenses with no tag.\n"
      operationId: insightExpenseNoTag
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only withdrawals from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of expense details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/income/tag:
    get:
      tags:
      - insight
      summary: "Insight into income, grouped by tag."
      description: "This endpoint gives a summary of the income received by the user,\
        \ grouped by (any) tag.\n"
      operationId: insightIncomeTag
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "tags[]"
        in: query
        description: |
          The tags to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only deposits to those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of tag and income details. Each tag has one row per
            currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/income/no-tag:
    get:
      tags:
      - insight
      summary: "Insight into income, without tag."
      description: "This endpoint gives a summary of the income received by the user,\
        \ including only income with no tag.\n"
      operationId: insightIncomeNoTag
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only deposits to those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of income details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/insight/transfer/tag:
    get:
      tags:
      - insight
      summary: "Insight into transfers, grouped by tag."
      description: "This endpoint gives a summary of the transfers created by the\
        \ user, grouped by (any) tag.\n"
      operationId: insightTransferTag
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "tags[]"
        in: query
        description: |
          The tags to be included in the results.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only transfers between those\nasset\
          \ accounts / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of tag and transfer details. Each tag has one row per
            currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightGroup'
  /api/v1/insight/transfer/no-tag:
    get:
      tags:
      - insight
      summary: "Insight into expenses, without tag."
      description: "This endpoint gives a summary of the transfers made by the user,\
        \ including only transfers with no tag.\n"
      operationId: insightTransferNoTag
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-01
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
        example: 2021-01-31
      - name: "accounts[]"
        in: query
        description: "The accounts to be included in the results. If you include ID's\
          \ of asset accounts or liabilities, only transfers from those\nasset accounts\
          \ / liabilities will be included. Other account ID's will be ignored.\n"
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of transfer details. One row per currency.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InsightTotal'
  /api/v1/summary/basic:
    get:
      tags:
      - summary
      summary: Returns basic sums of the users data.
      description: "Returns basic sums of the users data, like the net worth, spent\
        \ and earned amounts. It is multi-currency, and is used in Firefly III to\
        \ populate the dashboard.\n"
      operationId: getBasicSummary
      parameters:
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: true
        style: form
        explode: true
        schema:
          type: string
          format: date
      - name: currency_code
        in: query
        description: "A currency code like EUR or USD, to filter the result.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: string
      responses:
        "200":
          description: "An array of sums. It depends on the user what you can expect\
            \ to get back, so please try this out on the demo site."
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BasicSummary'
  /api/v1/attachments:
    get:
      tags:
      - attachments
      summary: List all attachments.
      description: |
        This endpoint lists all attachments.
      operationId: listAttachment
      parameters:
      - name: page
        in: query
        description: Page number. The default pagination is 50.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: A list of attachments.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
    post:
      tags:
      - attachments
      summary: Store a new attachment.
      description: |
        Creates a new attachment. The data required can be submitted as a JSON body or as a list of parameters. You cannot use this endpoint to upload the actual file data (see below). This endpoint only creates the attachment object.
      operationId: storeAttachment
      requestBody:
        description: JSON array or key=value pairs with the necessary attachment information.
          See the model for the exact specifications.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentStore'
        required: true
      responses:
        "200":
          description: "New attachment stored, result in response."
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        "422":
          description: Validation errors (see body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/attachments/{id}:
    get:
      tags:
      - attachments
      summary: Get a single attachment.
      description: |
        Get a single attachment. This endpoint only returns the available metadata for the attachment. Actual file data is handled in two other endpoints (see below).
      operationId: getAttachment
      parameters:
      - name: id
        in: path
        description: The ID of the attachment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: The requested attachment
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        "404":
          description: Attachment not found
    put:
      tags:
      - attachments
      summary: Update existing attachment.
      description: "Update the meta data for an existing attachment. This endpoint\
        \ does not allow you to upload or download data. For that, see below.\n"
      operationId: updateAttachment
      parameters:
      - name: id
        in: path
        description: The ID of the attachment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      requestBody:
        description: JSON array with updated attachment information. See the model
          for the exact specifications.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/AttachmentUpdate'
        required: true
      responses:
        "200":
          description: "Updated attachment stored, result in response"
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentSingle'
        "422":
          description: Validation errors (see body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
      - attachments
      summary: Delete an attachment.
      description: "With this endpoint you delete an attachment, including any stored\
        \ file data.\n"
      operationId: deleteAttachment
      parameters:
      - name: id
        in: path
        description: The ID of the single.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "204":
          description: Attachment deleted.
        "404":
          description: No such attachment
  /api/v1/attachments/{id}/download:
    get:
      tags:
      - attachments
      summary: Download a single attachment.
      description: "This endpoint allows you to download the binary content of a transaction.\
        \ It will be sent to you as a download, using the content type \"application/octet-stream\"\
        \ and content disposition \"attachment; filename=example.pdf\".\n"
      operationId: downloadAttachment
      parameters:
      - name: id
        in: path
        description: The ID of the attachment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: The requested attachment
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
                x-content-type: application/octet-stream
        "404":
          description: File not found
  /api/v1/attachments/{id}/upload:
    post:
      tags:
      - attachments
      summary: Upload an attachment.
      description: |
        Use this endpoint to upload (and possible overwrite) the file contents of an attachment. Simply put the entire file in the body as binary data.
      operationId: uploadAttachment
      parameters:
      - name: id
        in: path
        description: The ID of the attachment.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      requestBody:
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
      responses:
        "204":
          description: Upload was a success
        "404":
          description: File not found
        "422":
          description: Upload invalid or empty file.
  /api/v1/rules/{id}/test:
    get:
      tags:
      - rules
      summary: Test which transactions would be hit by the rule. No changes will be
        made.
      description: Test which transactions would be hit by the rule. No changes will
        be made. Limit the result if you want to.
      operationId: testRule
      parameters:
      - name: id
        in: path
        description: The ID of the rule.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      - name: start
        in: query
        description: "A date formatted YYYY-MM-DD, to limit the transactions the test\
          \ will be applied to. Both the start date and the end date must be present.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-09-17
      - name: end
        in: query
        description: "A date formatted YYYY-MM-DD, to limit the transactions the test\
          \ will be applied to. Both the start date and the end date must be present.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-09-17
      - name: "accounts[]"
        in: query
        description: |
          Limit the testing of the rule to these asset accounts or liabilities. Only asset accounts and liabilities will be accepted. Other types will be silently dropped.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "200":
          description: A list of transactions that would be changed by the rule. No
            changes will be made.
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/rules/{id}/trigger:
    post:
      tags:
      - rules
      summary: Fire the rule on your transactions.
      description: Fire the rule group on your transactions. Changes will be made
        by the rules in the group! Limit the result if you want to.
      operationId: fireRule
      parameters:
      - name: id
        in: path
        description: The ID of the rule.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      - name: start
        in: query
        description: "A date formatted YYYY-MM-DD, to limit the transactions the actions\
          \ will be applied to. If the start date is not present, it will be set to\
          \ one year ago. If you use this field, both the start date and the end date\
          \ must be present.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-09-17
      - name: end
        in: query
        description: "A date formatted YYYY-MM-DD, to limit the transactions the actions\
          \ will be applied to. If the end date is not present, it will be set to\
          \ today. If you use this field, both the start date and the end date must\
          \ be present.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-09-17
      - name: "accounts[]"
        in: query
        description: |
          Limit the triggering of the rule to these asset accounts or liabilities. Only asset accounts and liabilities will be accepted. Other types will be silently dropped.
        required: false
        style: form
        explode: true
        schema:
          type: array
          example:
          - 1
          - 2
          - 3
          items:
            type: integer
            format: int64
      responses:
        "204":
          description: The rules in the group are executed. Due to the setup of this
            function (asynchronous job execution) the result cannot be displayed.
  /api/v1/bills/{id}/attachments:
    get:
      tags:
      - bills
      summary: List all attachments uploaded to the bill.
      description: This endpoint will list all attachments linked to the bill.
      operationId: listAttachmentByBill
      parameters:
      - name: id
        in: path
        description: The ID of the bill.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      - name: page
        in: query
        description: Page number. The default pagination is 50.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: A list of attachments
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/AttachmentArray'
  /api/v1/bills/{id}/rules:
    get:
      tags:
      - bills
      summary: List all rules associated with the bill.
      description: This endpoint will list all rules that have an action to set the
        bill to this bill.
      operationId: listRuleByBill
      parameters:
      - name: id
        in: path
        description: The ID of the bill.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: A list of rules
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleArray'
  /api/v1/bills/{id}/transactions:
    get:
      tags:
      - bills
      summary: List all transactions associated with the  bill.
      description: This endpoint will list all transactions linked to this bill.
      operationId: listTransactionByBill
      parameters:
      - name: id
        in: path
        description: The ID of the bill.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      - name: start
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-09-17
      - name: end
        in: query
        description: |
          A date formatted YYYY-MM-DD.
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-12-31
      - name: type
        in: query
        description: Optional filter on the transaction type(s) returned
        required: false
        style: form
        explode: true
        schema:
          $ref: '#/components/schemas/TransactionTypeFilter'
      responses:
        "200":
          description: A list of transactions
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/TransactionArray'
  /api/v1/bills:
    get:
      tags:
      - bills
      summary: List all bills.
      description: This endpoint will list all the user's bills.
      operationId: listBill
      parameters:
      - name: page
        in: query
        description: Page number. The default pagination is 50.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
      - name: start
        in: query
        description: "A date formatted YYYY-MM-DD. If it is are added to the request,\
          \ Firefly III will calculate the appropriate payment and paid dates.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-09-17
      - name: end
        in: query
        description: "A date formatted YYYY-MM-DD. If it is added to the request,\
          \ Firefly III will calculate the appropriate payment and paid dates.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-12-31
      responses:
        "200":
          description: A list of bills
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillArray'
    post:
      tags:
      - bills
      summary: Store a new bill
      description: Creates a new bill. The data required can be submitted as a JSON
        body or as a list of parameters.
      operationId: storeBill
      requestBody:
        description: JSON array or key=value pairs with the necessary bill information.
          See the model for the exact specifications.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillStore'
        required: true
      responses:
        "200":
          description: "New bill stored, result in response."
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        "422":
          description: Validation errors (see body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/bills/{id}:
    get:
      tags:
      - bills
      summary: Get a single bill.
      description: Get a single bill.
      operationId: getBill
      parameters:
      - name: id
        in: path
        description: The ID of the bill.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      - name: start
        in: query
        description: "A date formatted YYYY-MM-DD. If it is are added to the request,\
          \ Firefly III will calculate the appropriate payment and paid dates.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-09-17
      - name: end
        in: query
        description: "A date formatted YYYY-MM-DD. If it is added to the request,\
          \ Firefly III will calculate the appropriate payment and paid dates.\n"
        required: false
        style: form
        explode: true
        schema:
          type: string
          format: date
          example: 2018-12-31
      responses:
        "200":
          description: The requested bill
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        "404":
          description: Bill not found
    put:
      tags:
      - bills
      summary: Update existing bill.
      description: Update existing bill.
      operationId: updateBill
      parameters:
      - name: id
        in: path
        description: The ID of the bill.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      requestBody:
        description: JSON array or key=value pairs with updated bill information.
          See the model for the exact specifications.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BillUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/BillUpdate'
        required: true
      responses:
        "200":
          description: "Updated bill stored, result in response"
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/BillSingle'
        "422":
          description: Validation errors (see body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
      - bills
      summary: Delete a bill.
      description: Delete a bill. This will not delete any associated rules. Will
        not remove associated transactions. WILL remove all associated attachments.
      operationId: deleteBill
      parameters:
      - name: id
        in: path
        description: The ID of the bill.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "204":
          description: Bill deleted.
        "404":
          description: No such bill
  /api/v1/rules:
    get:
      tags:
      - rules
      summary: List all rules.
      description: List all rules.
      operationId: listRule
      parameters:
      - name: page
        in: query
        description: Page number. The default pagination is 50.
        required: false
        style: form
        explode: true
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: A list of rules
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleArray'
    post:
      tags:
      - rules
      summary: Store a new rule
      description: Creates a new rule. The data required can be submitted as a JSON
        body or as a list of parameters.
      operationId: storeRule
      requestBody:
        description: JSON array or key=value pairs with the necessary rule information.
          See the model for the exact specifications.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleStore'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleStore'
        required: true
      responses:
        "200":
          description: "New rule stored, result in response."
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
        "422":
          description: Validation errors (see body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
  /api/v1/rules/{id}:
    get:
      tags:
      - rules
      summary: Get a single rule.
      description: Get a single rule.
      operationId: getRule
      parameters:
      - name: id
        in: path
        description: The ID of the object.X
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "200":
          description: The requested rule
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
        "404":
          description: Rule not found
    put:
      tags:
      - rules
      summary: Update existing rule.
      description: Update existing rule.
      operationId: updateRule
      parameters:
      - name: id
        in: path
        description: The ID of the object.X
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      requestBody:
        description: JSON array with updated rule information. See the model for the
          exact specifications.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/RuleUpdate'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/RuleUpdate'
        required: true
      responses:
        "200":
          description: "Updated rule stored, result in response"
          content:
            application/vnd.api+json:
              schema:
                $ref: '#/components/schemas/RuleSingle'
        "422":
          description: Validation errors (see body)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ValidationError'
    delete:
      tags:
      - rules
      summary: Delete an rule.
      description: Delete an rule.
      operationId: deleteRule
      parameters:
      - name: id
        in: path
        description: The ID of the rule.
        required: true
        style: simple
        explode: false
        schema:
          type: integer
          example: 1
      responses:
        "204":
          description: Rule deleted.
        "404":
          description: No such rule
  /api/v1/transactions:
    get:
      tags:
      - transactions
      summary: |
        List all the user's transactions.
      description: List all the user's transactions.
      operationId: listTransaction
      parameters:
      - name: page
        in: query
        description: Page number. The default pagination is 50.
        required: false
        style: form
[...]
